<div id="groovesharkWidgetContainer" class="center widget fakeHide">
<h3 >You are currently listening a song from</h3>
<a href="http://www.grooveshark.com" target="_blank"><img src="{{ asset('bundles/cogimixgrooveshark/images/grooveshark-logo.png')}}" title="Grooveshark" alt="Grooveshark"/></a>
{% if parameters.isAnywhere is not defined or parameters.isAnywhere == false%}
<h4>Upgrade to </h4>
<a href="http://grooveshark.com/upgrade" target="_blank"><img src="{{ asset('bundles/cogimixgrooveshark/images/grooveshark_anywhere.png')}}" title="Grooveshark Anywhere" alt="Grooveshark Anywhere"/></a>
{% endif %}
</div>