<li class="playlist-listitem gs-playlist-item draggable" data-alias="{{ 'grooveshark'~item['PlaylistID'] }}" data-droppedhook='gs-playlist' data-id="{{ item['PlaylistID'] }}">
<a href="#" class="showPlaylistGroovesharkBtn">{{ item['PlaylistName'] }}</a>
<div class="playlist-action">
     <a class="playPlaylistGroovesharkBtn actionBtn glyphicon glyphicon-play" href="#"></a>
</div>
</li>