<ul id="gs-playlist-container">
{% if playlists is not empty %}
<li><img class="playlist-icon" src="{{ asset('bundles/cogimix/images/services-icons/gs-icon.png') }}"/><a data-toggle="collapse"  href="#gs-playlist-list"> Grooveshark</a></li>
{% endif %}
<ul id="gs-playlist-list" class="subPlaylist collapse out">
{% if playlists is not empty %}
    {% for item in playlists %}
        {% include 'CogimixGroovesharkBundle:Playlist:item.html.twig' %}
    {% endfor %}
{% else %}
<li>No Grooveshark playlist</li>
{% endif %}
</ul>
</ul>