{% spaceless %}
<li class="dropdown-submenu" id="grooveshark-menu">
    <a href="#">Grooveshark</a>
    <ul class="dropdown-menu">
    {% if not is_granted('ROLE_GROOVESHARK') %}
    <li>{% include 'CogimixGroovesharkBundle:Login:loginLink.html.twig' %}</li>
    {% else %}
         <li>{% include 'CogimixGroovesharkBundle:Login:logoutLink.html.twig' %}</li>
    {% endif %}
    </ul>
</li>
{% endspaceless %}